// prefooter
.prefooter{
  padding: {
    top: 70px;
    bottom: 70px;
    right: 15px;
    left: 15px;
  }

  color: $primary-white;
  text-align: center;

  background: $text-color;

  &__title{

  }
  &__text{
    margin-bottom: 40px;

    color: $primary-white;

    span{
      font-size: 18px;
      border-bottom: 1px solid rgba($primary-red, .5);
    }
  }
  &__button{

  }
}

// footer
.footer{
  padding: {
    top: 70px;
    bottom: 70px;
    right: 15px;
    left: 15px;
  }
  
  text-align: center;
  background-color: $header-footer-bg;
  color: $primary-black;

  &__copyrights{
    font-size: 14px;
  }

  // socials 
  .socials-list{
    margin: {
      top: 40px;
      bottom: 40px;
    }
  }
}