// prefooter
.prefooter{
  padding: {
    top: 70px;
    bottom: 70px;
    right: 15px;
    left: 15px;
  }

  text-align: center;

  &__title{

  }
  &__text{
    
  }
  &__button{

  }
}

// footer
.footer{
  padding: {
    top: 70px;
    bottom: 70px;
    right: 15px;
    left: 15px;
  }
  
  text-align: center;
  background-color: $header-footer-bg;
  color: $primary-black;

  &__copyrights{
    font-size: 14px;
  }

  // socials 
  .socials-list{
    margin: {
      top: 40px;
      bottom: 40px;
    }
  }
}