@import "assets/styles/_variables.scss";

// global text style
.text-style{
  color: $text-color;

  line-height: 1.64;
  font: {
    size: 0.8889rem;
    weight: 400;
  }
}

// global title style
.title-style{
  margin-bottom: 40px;

  text: {
    transform: uppercase;
    align: center;
  }
}
