.header{
  padding: 20px;

  background-color: $header-footer-bg;

  position: relative;
  z-index: 2;

  
  @media(max-width: $screen-xs-max){
    box-shadow: $ios-shadow;
  }
  @media(min-width: $screen-xs){
    box-shadow: $hover-shadow;
  }

  .content{
    display: flex;
    align-items: center;
    justify-content: space-between;  
    
    @media(max-width: $screen-xs-max){
      flex-direction: column;
    }
  }

  .logo{
    @media(max-width: $screen-xs-max){
      margin-bottom: 15px;
    }
  }
}