* {
  box-sizing: border-box;
}

body{
  scroll-behavior: smooth;
  
  font: {
    family: $primary-font;
    size: $primary-fontSize;
    weight: 300;
  }
  line-height: $primary-lineHeight;
  color: $primary-black;
  background-color: $body-bg;
}

.content{
  margin: {
    left: auto;
    right: auto;
  }
  
  @media(max-width: $screen-lg-max){
    padding: {
      left: 15px;
      right: 15px;
    }
  }
  @media(min-width: $screen-lg){
    width: 1200px;
  }
}

.heading{
  &-1,
  &-2,
  &-3,
  &-4,
  &-5,
  &-6{
    margin:{
      top: 0;
      bottom: 15px;
    }
    line-height: 1.2;
    font-weight: 400;
  }
  &-1{
    @media(max-width: $screen-sm-max){
      font-size: 1.556rem;
    }
    @media(min-width: $screen-sm){
      font-size: 1.778rem;
    }
  }
  &-2{
    @media(max-width: $screen-sm-max){
      font-size: 1.333rem;
    }
    @media(min-width: $screen-sm){
      font-size: 1.556rem;
    }
  }
  &-3{
    @media(max-width: $screen-sm-max){
      font-size: 1.111rem;
    }
    @media(min-width: $screen-sm){
      font-size: 1.333rem;
    }
  }
  &-4{
    @media(max-width: $screen-sm-max){
      font-size: 1rem;
    }
    @media(min-width: $screen-sm){
      font-size: 1.111rem;
    }
  }
  &-5{
    font-size: 1rem;
  }
  &-6{
    font-size: 0.8889rem;
  }
}

/* motto */
.motto{
  &-wrapper{
    width: 100%;
    padding: {
      top: 25px;
      bottom: 25px;
    }

    background: $primary-black;

    &__text{
      margin: 0;

      font-size: 1.25rem;
      text-align: center;
      color: $primary-white;  
    }
  }
}

/* customize scrollbar */
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
}
body::-webkit-scrollbar-thumb {
  background-color: $primary-red;
  outline: 1px solid $primary-red;
}
