/* == Theme == */
/* bait item view */
.bait-view {
  width: 100%;
  float: left;
  /* gallery */
  /* title */
  /* name */
  /* weight */
  /* description */
  /* price */ }
  .bait-view-gallery, .bait-view__content {
    width: 50%;
    float: left; }
  .bait-view__content {
    padding: 25px;
    top: 0;
    position: sticky; }
  .bait-view-gallery {
    padding-top: 4px;
    padding-left: 2px;
    padding-right: 2px;
    box-shadow: inset 0 0 0 1px #a1a9b0;
    /* gallery item */ }
    .bait-view-gallery__item {
      padding-left: 2px;
      padding-right: 2px;
      padding-bottom: 4px;
      width: 100%; }
    .bait-view-gallery img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
      flex-shrink: 0; }
  .bait-view__title {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .bait-view__weight {
    font-size: 1.25rem; }
