/* == Theme == */
/* bait item view */
.bait-view {
  position: relative;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  /* gallery */
  /* title */
  /* name */
  /* weight */
  /* description */
  /* price */ }
  @media (max-width: 768px) {
    .bait-view {
      display: flex;
      flex-direction: column; } }
  @media (min-width: 769px) {
    .bait-view {
      float: left; } }
  .bait-view__content {
    padding: 25px;
    background-color: #ffffff; }
    @media (max-width: 768px) {
      .bait-view__content {
        order: 1; } }
    @media (min-width: 769px) {
      .bait-view__content {
        width: calc(50% - 25px);
        float: left;
        margin-left: 25px;
        position: sticky;
        top: 0; } }
  .bait-view-gallery {
    /* gallery item */ }
    @media (max-width: 768px) {
      .bait-view-gallery {
        order: 2;
        margin-top: 25px; } }
    @media (min-width: 769px) {
      .bait-view-gallery {
        width: 50%;
        float: left; } }
    .bait-view-gallery__item {
      width: 100%;
      padding: 15px;
      margin-bottom: 25px;
      background-color: #ffffff; }
    .bait-view-gallery img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
      flex-shrink: 0; }
  .bait-view__title {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .bait-view__name {
    margin: 0;
    text-transform: uppercase; }
  .bait-view__weight {
    font-size: 1.25rem;
    font-weight: normal; }
  .bait-view__description span {
    display: block; }
    .bait-view__description span + span {
      margin-top: 15px; }
  .bait-view__price {
    margin-bottom: 40px;
    font-size: 1.5rem;
    color: #E04343; }

.button--back {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  background-color: inherit;
  position: absolute;
  top: 0;
  left: 0px;
  z-index: 2;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: normal;
  text-transform: uppercase;
  color: #a1a9b0;
  transition: .15s linear; }
  .button--back:hover {
    color: #353535; }
    .button--back:hover svg {
      fill: #353535; }
  .button--back svg {
    display: inline-block;
    margin-right: 10px;
    fill: #a1a9b0;
    transition: .15s linear; }
