{% extends "base.html" %}


{% block content %}
<div>
    <form action="" method="post">
    {{ form.hidden_tag() }}

    {% from "_formhelpers.html" import render_field %}
    <form method=post>
      <dl>
          {{ render_field(form.name) }}
          {{ render_field(form.weight) }}
          {{ render_field(form.price) }}
          {{ render_field(form.body) }}
          {{ render_field(form.title) }}
          {{ render_field(form.status) }}
          {{ render_field(form.availability) }}
          {{ render_field(form.file) }}
          {{ render_field(form.submit) }}
    </dl>
    </form>

</form>
</div>

{% endblock %}
