{% extends "base.html" %}


<h3>{{ title }}</h3>

{% block content %}
<h1>Sign In</h1>
<div>
    <img src="{{ bait.url }}"/>
    {{ bait.name }} = : <b>{{ bait.image_name }}</b>
</div>
<div>
    <form action="{{ url_for('upload') }}" method="POST"
          enctype="multipart/form-data">
        <input type="file" name="file"/>
        <input type="hidden" name="data" value="{{ bait.id }}"/>
        <input type="submit"/>
    </form>
</div>

<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.email.label }}<br>
        {{ form.email(size=48) }}<br>
        {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}
