# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
src/**/*.css

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.db
.DS_Store
venv
env
__pycache__
blog_old.md
node_modules
.idea/*
*.pyc
tmp
static/dist
