@import "assets/styles/_variables.scss";

.welcome{
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background: {
    image: url('../../assets/images/welcome-bg.jpg');
    repeat: no-repeat;
    position: right bottom;
    size: cover;
  }

  &__title{
    line-height: 120px;
    font: {
      size: 120px;
      weight: 900;
    }
    text: {
      transform: uppercase;
      align: left;
    }

    &--red,
    &--green{
      display: inline-block;
      position: relative;
      
    }

    &--red{
      top: 10px;
      color: $primary-red;
    }
    &--green{
      top: -10px;
      color: $primary-green;
    }
  }
}