@import "assets/styles/_variables.scss";

/* welcome slide */
.welcome{
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  background: {
    image: url('../../assets/images/welcome-bg.jpg');
    repeat: no-repeat;
    position: 50% bottom;
    size: cover;
    attachment: fixed;
  }

  &__title{
    font-weight: normal;

    border-top: 2px solid $primary-black;
    display: inline-block;

    @media(max-width: $screen-md-max){
      width: 100%;
      text-align: center;
    }
    @media(min-width: $screen-md){
      text-align: left;
    }
    
    &--custom{
      margin: 0;
      
      color: $primary-red;
      line-height: 50px;
      font: {
        size: 120px;
        weight: normal;
        family: $secondary-font;
      }
    }
    &--normal{
      margin: 0;
      padding-left: 80px;

      line-height: 60px;
      font: {
        size: 60px;
        weight: 300;
        family: $primary-font;
      }
      text-transform: uppercase;
    }
    &--small{
      margin: 15px 0 0 0 ;

      text-align: center;
      font: {
        family: $secondary-font;
        size: 35px;
      }
      @media(max-width: $screen-md-max){
        text-shadow: 1px 1px 1px rgba($primary-white, .8);
      }
    }
  }
}

/* scroll down */
@keyframes ani-mouse {
  0% {
  opacity: 1;
  top: 29%;
  }
  15% {
  opacity: 1;
  top: 50%;
  }
  50% {
  opacity: 0;
  top: 50%;
  }
  100% {
  opacity: 0;
  top: 29%;
  }
}

.scroll-down{
  position: absolute;
  left: 50%; bottom: 20px;
  z-index: 2;

  margin-left: -18px;

  &__btn{
    display: block;
  }

  &__mouse{
    position: relative;
    display: block;
    width: 36px;
    height: 55px;
    border: 3px solid rgba($primary-white, .5);
    border-radius: 23px;

    > * {
      display: block;
      width: 8px;
      height: 8px;
      margin: -4px 0 0 -4px;

      position: absolute;
      top: 29%; left: 50%;

      border-radius: 50%;
      background: $primary-white;

      animation: ani-mouse 2.5s linear infinite;
    }
  }
}

/* socials */
.socials-wrapper{
  z-index: 2;

  @media(max-width: $screen-sm-max){
    width: 100%;
    position: absolute;
    padding: 10px 15px;

    top: 0px; left: 0px;
  }
  @media(min-width: $screen-sm){
    position: fixed;
    top: 25px; right: 25px;
  }

  .socials{
    list-style: none;
    margin: 0; 
    padding: 0;

    display: flex;

    @media(max-width: $screen-sm-max){
      flex-direction: row;
      justify-content: center;
    }
    @media(min-width: $screen-sm){
      flex-direction: column;
    }
    
    li{
      @media(max-width: $screen-sm-max){
        margin: {
          left: 15px;
          right: 15px;
        }
      }
      @media(min-width: $screen-sm){
        margin-bottom: 15px;
      }
    }

    a{
      display: flex;
      align-items: center;
      justify-content: center;

      width: 40px;
      height: 40px;

      text-decoration: none;
      color: $primary-black;

      opacity: .3;

      transition: .25s linear;

      &:hover{
        opacity: 1;
        svg{
          fill: $primary-red;
        }
      }
    }

    svg{
      width: 40px;
      height: 40px;
    }
  }
}
