/*
 * Theme colors
 */
/*
 * element colors
 */
/*
 * Font
 */
/*
 * Grid mediaqueries
 */
/* bait item view */
.bait-view {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* main image */
  /* title */
  /* name */
  /* weight */
  /* description */
  /* price */ }
  .bait-view__main-image {
    height: 60vh;
    margin-bottom: 25px; }
    .bait-view__main-image img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .bait-view__title {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .bait-view__name {
    margin: 0;
    text-transform: uppercase; }
  .bait-view__weight {
    font-size: 1.25rem;
    font-weight: normal; }
  .bait-view__description span {
    display: block; }
    .bait-view__description span + span {
      margin-top: 15px; }
  .bait-view__price {
    font-size: 1.5rem;
    color: #E04343; }
