/*
 * Theme colors
 */
/*
 * element colors
 */
/*
 * Font
 */
/*
 * Grid mediaqueries
 */
.bait-view-gallery {
  display: flex;
  flex-wrap: wrap; }
  @media (min-width: 569px) and (max-width: 1280px) {
    .bait-view-gallery__item {
      flex-basis: 50%; } }
  @media (min-width: 1281px) {
    .bait-view-gallery__item {
      flex-basis: 33.33333%; } }
  .bait-view-gallery img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    flex-shrink: 0; }
