@import "assets/styles/_variables.scss";

/* bait item view */
.bait-view{
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;

  /* main image */
  &__main-image{
    height: 60vh;
    margin-bottom: 25px;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  /* title */
  &__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* name */
  &__name{
    margin: 0;
    text-transform: uppercase;
  }

  /* weight */
  &__weight{
    font: {
      size: 1.25rem;
      weight: normal;
    }
  }

  /* description */
  &__description{
    span{
      display: block;

      + span {
        margin-top: 15px;
      }
    }
  }

  /* price */
  &__price{
    font-size: 1.5rem;
    color: $primary-red;
  }

}