@import "assets/styles/_variables.scss";

/* socials */
.socials-wrapper{
  z-index: 2;

  @media(max-width: $screen-sm-max){
    width: 100%;
    position: absolute;
    padding: 10px 15px;

    top: 0px; left: 0px;
  }
  @media(min-width: $screen-sm){
    position: fixed;
    top: 25px; right: 25px;
  }

  .socials{
    list-style: none;
    margin: 0; 
    padding: 0;

    display: flex;

    @media(max-width: $screen-sm-max){
      flex-direction: row;
      justify-content: center;
    }
    @media(min-width: $screen-sm){
      flex-direction: column;
    }
    
    li{
      @media(max-width: $screen-sm-max){
        margin: {
          left: 15px;
          right: 15px;
        }
      }
      @media(min-width: $screen-sm){
        margin-bottom: 15px;
      }
    }

    a{
      display: flex;
      align-items: center;
      justify-content: center;

      width: 40px;
      height: 40px;

      text-decoration: none;
      color: $primary-black;

      opacity: .3;

      transition: .25s linear;

      &:hover{
        opacity: 1;
        svg{
          fill: $primary-red;
        }
      }
    }

    svg{
      width: 40px;
      height: 40px;
    }
  }
}