@import "assets/styles/_variables.scss";

/* welcome slide */
.welcome{
  height: 500px;

  align-items: center;
  justify-content: center;

  position: relative;

  text-align: center;

  background: {
    image: url('../../assets/images/welcome-bg.jpg');
    repeat: no-repeat;
    size: cover;
  }

  @media(max-width: $screen-xs-max){
    display: none;
  }
  @media(min-width: $screen-xs){
    display: flex;
  }
  @media(max-width: $screen-md-max){
    background-position: 50%;
  }
  @media(min-width: $screen-md){
    background: {
      attachment: fixed;
      position: 50% bottom;
    }
  }
}

.quote{
  display: block;
  padding: 10px 25px;
  float: right;

  border-radius: 5px;
  text-align: left;

  box-shadow: $ios-shadow;
  background-color: rgba($primary-white, .3);

  &__text{
    margin-bottom: 0;
    font: {
      weight: 500;
      style: italic;
    }
  }
  &__author{
    display: block;
    margin-left: 20px;
  }
}
