/*
 * Theme colors
 */
/*
 * element colors
 */
/*
 * Font
 */
/*
 * Grid mediaqueries
 */
/* welcome slide */
.welcome {
  height: 400px;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  background-image: url("../../assets/images/welcome-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  @media (max-width: 568px) {
    .welcome {
      display: none; } }
  @media (min-width: 569px) {
    .welcome {
      display: flex; } }
  @media (max-width: 991px) {
    .welcome {
      background-position: 50%; } }
  @media (min-width: 992px) {
    .welcome {
      background-attachment: fixed;
      background-position: 50% bottom; } }
