@import "assets/styles/_variables.scss";

/* welcome slide */
.welcome{
  height: 400px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  text-align: center;

  background: {
    image: url('../../assets/images/welcome-bg.jpg');
    repeat: no-repeat;
    position: 50% bottom;
    size: cover;
    attachment: fixed;
  }
}
