@import "assets/styles/_variables.scss";

/* welcome slide */
.welcome{
  height: 400px;

  align-items: center;
  justify-content: center;

  position: relative;

  text-align: center;

  background: {
    image: url('../../assets/images/welcome-bg.jpg');
    repeat: no-repeat;
    size: cover;
  }

  @media(max-width: $screen-xs-max){
    display: none;
  }
  @media(min-width: $screen-xs){
    display: flex;
  }
  @media(max-width: $screen-md-max){
    background-position: 50%;
  }
  @media(min-width: $screen-md){
    background: {
      attachment: fixed;
      position: 50% bottom;
    }
  }
}
