@import "assets/styles/_variables.scss";

// @import "~slick-carousel/slick/slick.css";
// @import "~slick-carousel/slick/slick-theme.css";

// baits colors slider wrapper 
.bait-color-slider{
  width: 100%;
  padding: {
    top: 70px;
    bottom: 70px;
  }

  overflow: auto;

  background-color: $text-color;

  &::after{
    content: "";
    clear: both;
    display: table;
  }

  &__title{
    color: $primary-white;
  }

  // bait color slide item
  .slick-slide{
    outline: 0;
    width: 170px;

    text-align: center;

    @media(max-width: $screen-xs-max){
      padding: {
        left: 20px;
        right: 20px;
      }
    }
    @media(min-width: $screen-xs){
      padding: {
        left: 35px;
        right: 35px;
      }
    }

    *:focus,
    &:focus{
      outline: 0;
    }
  }

}

// new one 

.baits{
  width: 100%;
  padding: {
    top: 70px;
    bottom: 70px;
  }

  background-color: $text-color;
}

.baits-wrapper{
  display: flex;
  flex-wrap: wrap;

  padding: 5px;
}

// item
.bait-color{
  flex: {
    shrink: 0;
    grow: 0;
  }
  padding: 5px;
  position: relative;

  @media(max-width: $screen-xs-max){
    flex-basis: 100%;
  }
  @media(min-width: $screen-xs) and (max-width: $screen-md-max){
    flex-basis: 50%;
  }
  @media(min-width: $screen-md){
    flex-basis: 25%;
  }

  // item image 
  &__image-wrapper{
    border-radius: 5px;
    overflow: hidden;

    height: 160px;

    img{
      display: block;
      width: 100%;
      height: 100%;

      object-fit: cover;
      flex-shrink: 0;
    }
  }

  // item name
  &__name{
    margin: 0;

    color: $primary-black;
    font-weight: 600;

    position: absolute;
    bottom: 10px; left: 50%;
    z-index: 2;

    transform: translateX(-50%);
  }

}