/*
 * Theme colors
 */
/*
 * element colors
 */
/*
 * Font
 */
/*
 * Grid mediaqueries
 */
.bait-color-slider {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
  overflow: auto;
  background-color: #3d3d3d; }
  .bait-color-slider::after {
    content: "";
    clear: both;
    display: table; }
  .bait-color-slider__title {
    color: #ffffff; }
  .bait-color-slider .slick-slide {
    outline: 0;
    width: 170px;
    text-align: center; }
    @media (max-width: 568px) {
      .bait-color-slider .slick-slide {
        padding-left: 20px;
        padding-right: 20px; } }
    @media (min-width: 569px) {
      .bait-color-slider .slick-slide {
        padding-left: 35px;
        padding-right: 35px; } }
    .bait-color-slider .slick-slide *:focus, .bait-color-slider .slick-slide:focus {
      outline: 0; }

.baits {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #3d3d3d; }

.baits-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 5px; }

.bait-color {
  flex-shrink: 0;
  flex-grow: 0;
  padding: 5px;
  position: relative; }
  @media (max-width: 568px) {
    .bait-color {
      flex-basis: 100%; } }
  @media (min-width: 569px) and (max-width: 991px) {
    .bait-color {
      flex-basis: 50%; } }
  @media (min-width: 992px) {
    .bait-color {
      flex-basis: 25%; } }
  .bait-color__image-wrapper {
    border-radius: 5px;
    overflow: hidden;
    height: 160px; }
    .bait-color__image-wrapper img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      flex-shrink: 0; }
  .bait-color__name {
    margin: 0;
    color: #141414;
    font-weight: 600;
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%); }
