/* == Theme == */
.bait-preview {
  flex: 0 0 25%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px; }
  .bait-preview__image {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; }
    .bait-preview__image img {
      display: block;
      max-width: 100%;
      height: auto;
      flex-shrink: 0; }
