/* == Theme == */
.about-delivery {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap; }

.delivery-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
  flex-basis: 50%;
  flex-grow: 0;
  /* title */
  /* text */ }
  .delivery-item__title {
    text-transform: uppercase; }
  .delivery-item__text {
    color: #a1a9b0; }
