@import "assets/styles/_variables.scss";

.about-delivery{
	width: 100%;
	padding: {
	  top: 50px;
	  bottom: 50px;
	}

	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;
}

.delivery-item{
  display: flex;
  align-items: center;
  flex: {
    direction: column;
    shrink: 0;
    basis: 50%;
    grow: 0;
  }

  /* title */
  &__title{
    text-transform: uppercase;
  }

  /* text */
  &__text{
    color: $primary-grey;
  }
}