/*
 * Theme colors
 */
/*
 * element colors
 */
/*
 * Font
 */
/*
 * Grid mediaqueries
 */
.logo {
  display: inline-block;
  width: 200px; }
  .logo__image {
    display: inline-block;
    max-width: 100%;
    height: auto; }
