@import "assets/styles/_variables.scss";

.logo{
  display: inline-block;
  width: 200px;
  
  &__image{
    display: inline-block;
    max-width: 100%;
    height: auto;
  }

  // modification for logo in header
  &--header{

  }

  // modification for logo in footer
  &--footer{
    
  }
}
