/*
 * Theme colors
 */
/*
 * element colors
 */
/*
 * Font
 */
/*
 * Grid mediaqueries
 */
/* welcome slide */
.welcome {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url("../../assets/images/welcome-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% bottom;
  background-size: cover;
  background-attachment: fixed; }
  .welcome__title {
    font-weight: normal;
    border-top: 2px solid #353535;
    display: inline-block; }
    @media (max-width: 991px) {
      .welcome__title {
        width: 100%;
        text-align: center; } }
    @media (min-width: 992px) {
      .welcome__title {
        text-align: left; } }
    .welcome__title--custom {
      margin: 0;
      color: #E04343;
      line-height: 50px;
      font-size: 120px;
      font-weight: normal;
      font-family: "Great Vibes", cursive; }
    .welcome__title--normal {
      margin: 0;
      padding-left: 80px;
      line-height: 60px;
      font-size: 60px;
      font-weight: 300;
      font-family: "Roboto", sans-serif;
      text-transform: uppercase; }
    .welcome__title--small {
      margin: 15px 0 0 0;
      text-align: center;
      font-family: "Great Vibes", cursive;
      font-size: 35px; }
      @media (max-width: 991px) {
        .welcome__title--small {
          text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8); } }

/* scroll down */
@keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%; }
  15% {
    opacity: 1;
    top: 50%; }
  50% {
    opacity: 0;
    top: 50%; }
  100% {
    opacity: 0;
    top: 29%; } }

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 20px;
  z-index: 2;
  margin-left: -18px; }
  .scroll-down__btn {
    display: block; }
  .scroll-down__mouse {
    position: relative;
    display: block;
    width: 36px;
    height: 55px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 23px; }
    .scroll-down__mouse > * {
      display: block;
      width: 8px;
      height: 8px;
      margin: -4px 0 0 -4px;
      position: absolute;
      top: 29%;
      left: 50%;
      border-radius: 50%;
      background: #ffffff;
      animation: ani-mouse 2.5s linear infinite; }
