@import "assets/styles/_variables.scss";

.socials-list{
  list-style: none;
  margin: 0; 
  padding: 0;
  
  li{
    display: inline-block;

    @media(min-width: $screen-sm){
      margin: {
        left: 6px;
        right: 6px;
      }
    }
  }

  a{
    display: block;
    width: 40px;
    height: 40px;

    color: $primary-white;
    line-height: 40px;
    font-size: 25px;
    text: {
      align: center;
      decoration: none;
    }

    border-radius: 3px;
    background-color: $primary-red;
    transition: all .25s linear;

    &:hover{
      background-color: $primary-white;
      color: $primary-red;

      box-shadow: $ios-shadow;
    }
  }
}
