/*
 * Theme colors
 */
/*
 * element colors
 */
/*
 * Font
 */
/*
 * Grid mediaqueries
 */
.socials-list {
  list-style: none;
  margin: 0;
  padding: 0; }
  .socials-list li {
    display: inline-block; }
    @media (min-width: 769px) {
      .socials-list li {
        margin-left: 6px;
        margin-right: 6px; } }
  .socials-list a {
    display: block;
    width: 40px;
    height: 40px;
    color: #ffffff;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    background-color: #E04343;
    transition: color .15s linear; }
    .socials-list a:hover {
      background-color: #ffffff;
      color: #E04343; }
