/* == Theme == */
$primary-black: #353535;
$primary-white: #ffffff;
$primary-red: #E04343;
$primary-grey: #a1a9b0;
$primary-green: #84B71D;

$body-bg: #f6f8fa;

$primary-font: 'Roboto', sans-serif;;
$primary-fontSize: 18px;
$secondary-font: 'Great Vibes', cursive;

