/*
 * Theme colors
 */
$primary-black: #353535;
$primary-white: #ffffff;
$primary-red: #E04343;
$primary-grey: #a1a9b0;
$primary-green: #84B71D;


/*
 * element colors
 */
$body-bg: #f6f8fa;


/*
 * Font
 */
$primary-font: 'Roboto', sans-serif;;
$primary-fontSize: 18px;
$primary-lineHeight: 25px;
$secondary-font: 'Great Vibes', cursive;

/*
 * Grid mediaqueries
 */

$screen-xs: 569px;
$screen-xs-max: $screen-xs - 1;
$screen-sm: 769px;
$screen-sm-max: $screen-sm - 1;
$screen-md: 992px;
$screen-md-max: $screen-md - 1;
$screen-lg: 1281px;
$screen-lg-max: $screen-lg - 1;

