@import "assets/styles/_variables.scss";

.about-bait-types-section{
  padding: {
    top: 50px;
    bottom: 50px;
  }

  background-color: $primary-white;

  &__title{
    margin-bottom: 40px;

    text-align: center;
  }
}

.about-bait-types{
  .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.bait-types-item{
  display: flex;
  flex-direction: column;
  
  @media(max-width: $screen-sm-max){
    flex: 0 0 100%;
  }
  @media(min-width: $screen-sm) and (max-width: $screen-md-max){
    flex: 0 0 50%;
  }
  @media(min-width: $screen-md){
    flex: 0 0 calc(100% / 3);
  }
  
  /* image && content */
  &__image-wrapper,
  &__content{
    @media(min-width: $screen-md){
      flex-basis: 50%;
    }
  }
  /* image */
  &__image-wrapper{
    width: 160px;
    height: 160px;
    margin: {
      top: 20px;
      bottom: 20px;
      left: auto;
      right: auto;
    }

    border-radius: 8px;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  /* content => wrapper for title && text */
  &__content{
    @media(max-width: $screen-md-max){
      padding: {
        left: 15px;
        right: 15px;
      }
    }
    @media(min-width: $screen-md){
      padding: {
        left: 30px;
        right: 30px;
      }
    }
  }

  /* title */
  &__title{
    color: $primary-black;
    text: {
      transform: uppercase;
      align: center;
    }
  }

  /* text */
  &__text{
    margin: 0;
  }
}
