/*
 * Theme colors
 */
/*
 * element colors
 */
/*
 * Font
 */
/*
 * Grid mediaqueries
 */
.about-bait-types-section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #ffffff; }

.about-bait-types .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.bait-types-item {
  display: flex;
  flex-direction: column;
  /* image && content */
  /* image */
  /* content => wrapper for title && text */
  /* title */
  /* text */ }
  @media (max-width: 768px) {
    .bait-types-item {
      flex: 0 0 100%; } }
  @media (min-width: 769px) and (max-width: 991px) {
    .bait-types-item {
      flex: 0 0 50%; } }
  @media (min-width: 992px) {
    .bait-types-item {
      flex: 0 0 calc(100% / 3); } }
  @media (min-width: 992px) {
    .bait-types-item__image-wrapper, .bait-types-item__content {
      flex-basis: 50%; } }
  .bait-types-item__image-wrapper {
    width: 160px;
    height: 160px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    overflow: hidden; }
    .bait-types-item__image-wrapper img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  @media (max-width: 991px) {
    .bait-types-item__content {
      padding-left: 15px;
      padding-right: 15px; } }
  @media (min-width: 992px) {
    .bait-types-item__content {
      padding-left: 30px;
      padding-right: 30px; } }
  .bait-types-item__title {
    color: #141414;
    text-transform: uppercase;
    text-align: center; }
  .bait-types-item__text {
    margin: 0; }
