@import "assets/styles/_variables.scss";

/* bait wrapper */
.bait-preview-wrapper{
	display: flex;
	flex-wrap: wrap;

	padding: {
		left: 15px;
		right: 15px;
	}
	
	padding: {
		top: 90px;
		bottom: 90px;
	}
	margin: {
		left: -10px;
		right: -10px;
	}
}

/* bait item */
.bait-preview{
	$gutter: 10px;
	
	margin: $gutter * 2 $gutter;
	
	@media(max-width: $screen-xs-max){
		flex: 0 0 100%;
	}
	@media(min-width: $screen-xs){
		flex: 0 0 calc(100% / 3 - #{$gutter} * 2);
	}

	&__link{
		display: block;
		text-decoration: none;

		background-color: $primary-white;
		transition:  .15s linear;

		border-radius: $gutter;
		overflow: hidden;

		box-shadow: 0 1px 3px rgba($primary-black, .3);

		&:hover{
			box-shadow: 0 1px 3px rgba($primary-black, .8);
		}
	}

	&__content{
		padding: 15px 25px;

		position: relative;
	}

	&__image{
		display: flex;
		align-items: center;
		justify-content: center;

		overflow: hidden;

		img{
			display: block;
			max-width: 100%;
			height: auto;

			flex-shrink: 0;
		}
	}

	&__title{
		display: flex;
		align-items: center;
		justify-content: space-between;

		color: $primary-black;
	}
	&__name{
		margin: 0;
		text-transform: uppercase;
	}
	&__weight{
		font: {
			size: 1.25rem;
			weight: normal;
		}
	}
	&__text{
		margin: 0;

		color: $primary-grey;

		@media(min-width: $screen-xs){
			width: 80%;
		}
	}
	&__price{
		display: block;

		position: absolute;
		left: 25px; bottom: -50px;
		z-index: 2;

		font-size: 2rem;
		color: $primary-black;
	}
}