/*
 * Theme colors
 */
/*
 * element colors
 */
/*
 * Font
 */
/*
 * Grid mediaqueries
 */
/* bait wrapper */
.bait-preview-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 90px;
  padding-bottom: 90px; }

/* bait item */
.bait-preview {
  margin: 20px 10px; }
  @media (max-width: 568px) {
    .bait-preview {
      flex: 0 0 calc(100% - 10px * 2); } }
  @media (min-width: 569px) and (max-width: 991px) {
    .bait-preview {
      flex: 0 0 calc(50% - 10px * 2); } }
  @media (min-width: 992px) {
    .bait-preview {
      flex: 0 0 calc(100% / 3 - 10px * 2); } }
  .bait-preview__link {
    display: block;
    text-decoration: none;
    background-color: #ffffff;
    transition: .15s linear;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(53, 53, 53, 0.3); }
    .bait-preview__link:hover {
      box-shadow: 0 1px 3px rgba(53, 53, 53, 0.8); }
  .bait-preview__content {
    padding: 15px 25px;
    position: relative; }
  .bait-preview__image {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 200px; }
    .bait-preview__image img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      flex-shrink: 0; }
  .bait-preview__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #353535; }
  .bait-preview__name {
    margin: 0;
    text-transform: uppercase; }
  .bait-preview__weight {
    font-size: 1.25rem;
    font-weight: normal; }
  .bait-preview__text {
    margin: 0;
    color: #a1a9b0; }
    @media (min-width: 569px) {
      .bait-preview__text {
        width: 80%; } }
  .bait-preview__price {
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    left: 25px;
    bottom: -55px;
    z-index: 2;
    font-size: 2rem;
    color: #353535;
    background-color: rgba(255, 255, 255, 0.7); }
