/*
 * Theme colors
 */
/*
 * element colors
 */
/*
 * Font
 */
/*
 * Grid mediaqueries
 */
/* bait wrapper */
.bait-preview-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 90px;
  padding-bottom: 90px;
  margin-left: -10px;
  margin-right: -10px; }

/* bait item */
.bait-preview {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px; }
  @media (max-width: 568px) {
    .bait-preview {
      flex: 0 0 100%; } }
  @media (min-width: 569px) {
    .bait-preview {
      flex: 0 0 50%; } }
  .bait-preview__link {
    display: block;
    text-decoration: none;
    background-color: #ffffff;
    transition: .2s linear; }
    .bait-preview__link:hover {
      box-shadow: 0 5px 10px 0 rgba(53, 53, 53, 0.5); }
  .bait-preview__content {
    padding: 15px 25px; }
  .bait-preview__image {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; }
    .bait-preview__image img {
      display: block;
      max-width: 100%;
      height: auto;
      flex-shrink: 0; }
  .bait-preview__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #353535; }
  .bait-preview__name {
    margin: 0;
    text-transform: uppercase; }
  .bait-preview__weight {
    font-size: 1.25rem;
    font-weight: normal; }
  .bait-preview__price {
    font-size: 1.25rem;
    color: #E04343; }
