/* == Theme == */
/*
 * About def
 * =========
 */
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* about us */
  /* about delivery */
  /* about bait types */ }
  .about__us {
    padding-top: 50px;
    padding-bottom: 50px; }
    .about__us-text {
      font-size: 1.25rem;
      text-align: center; }
  .about__delivery {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap; }

/* 
 * Delivery item
 * =============
 */
.delivery-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
  flex-basis: 50%;
  flex-grow: 0;
  /* title */
  /* text */ }
  .delivery-item__title {
    text-transform: uppercase; }
  .delivery-item__text {
    color: #a1a9b0; }

/* 
 * Bait type item 
 * ==============
 */
.bait-types-item {
  display: flex;
  margin-bottom: 15px;
  /* image */
  /* content => wrapper for title && text */
  /* title */
  /* text */ }
  .bait-types-item--reversed .bait-types-item__content {
    float: right; }
  .bait-types-item__image-wrapper {
    padding: 40px 50px;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat; }
  .bait-types-item__content {
    width: 80%;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.8); }
  .bait-types-item__title, .bait-types-item__text {
    color: #353535; }
  .bait-types-item__title {
    position: relative;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: 400; }
    .bait-types-item__title::after {
      content: '';
      display: block;
      width: 100px;
      height: 2px;
      position: absolute;
      bottom: -20px;
      left: 0;
      z-index: 2;
      background-color: #353535; }
  .bait-types-item__text {
    margin: 0;
    line-height: 2rem; }
