/*
 * Theme colors
 */
/*
 * element colors
 */
/*
 * Font
 */
/*
 * Grid mediaqueries
 */
.about-bait-types {
  display: flex;
  justify-content: center;
  flex-direction: column; }

.bait-types-item {
  margin-bottom: 30px;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  /* image && content */
  /* image */
  /* content => wrapper for title && text */
  /* title */
  /* text */ }
  .bait-types-item .content {
    display: flex; }
    @media (max-width: 991px) {
      .bait-types-item .content {
        flex-direction: column; } }
  @media (min-width: 992px) {
    .bait-types-item__image-wrapper, .bait-types-item__content {
      flex-basis: 50%; } }
  .bait-types-item__image-wrapper {
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #353535; }
    @media (max-width: 991px) {
      .bait-types-item__image-wrapper {
        height: 50vh; } }
  .bait-types-item__content {
    background-color: #ffffff; }
    @media (max-width: 991px) {
      .bait-types-item__content {
        padding: 15px; } }
    @media (min-width: 992px) {
      .bait-types-item__content {
        padding: 30px; } }
  .bait-types-item__title, .bait-types-item__text {
    color: #353535; }
  .bait-types-item__title {
    position: relative;
    margin-bottom: 40px;
    text-transform: uppercase; }
    .bait-types-item__title::after {
      content: '';
      display: block;
      width: 100px;
      height: 2px;
      position: absolute;
      bottom: -20px;
      left: 0;
      z-index: 2;
      background-color: #E04343; }
  .bait-types-item__text {
    margin: 0;
    line-height: 2rem; }
